<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d3bc82">  <td>22/03/06 02:31:00</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SignUpFlow.initialize()[pri:0, instance:SignUpProcess.SignUpFlow@79e2c065]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1819063424</td>   <td></td> </tr>
<tr bgcolor="d3bc82">  <td>22/03/06 02:31:08</td>   <td>7458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpFlow.signupNavigationWithNewUser(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:SignUpProcess.SignUpFlow@79e2c065]">signupNavigationWithNewUser</td> 
  <td>main@1819063424</td>   <td></td> </tr>
</table>
