<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a68a88">  <td>22/03/06 13:52:05</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;signUpFlowWithInvalidUser.exit()[pri:0, instance:SignUpProcess.signUpFlowWithInvalidUser@43f02ef2]">&lt;&lt;exit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="a68a88">  <td>22/03/06 13:50:58</td>   <td>-66807</td> <td>&nbsp;</td><td title="&gt;&gt;signUpFlowWithInvalidUser.initialize()[pri:0, instance:SignUpProcess.signUpFlowWithInvalidUser@43f02ef2]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="859c86">  <td>22/03/06 13:51:01</td>   <td>-64587</td> <td>&nbsp;</td><td title="&gt;&gt;signUpFlowWithNewUser.initialize()[pri:0, instance:SignUpProcess.signUpFlowWithNewUser@5965d37]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="a8adcf">  <td>22/03/06 13:50:53</td>   <td>-72092</td> <td>&nbsp;</td><td title="&gt;&gt;signUpFlowWithExistingUser.initialize()[pri:0, instance:SignUpProcess.signUpFlowWithExistingUser@7bd7d6d6]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="a8adcf">  <td>22/03/06 13:51:41</td>   <td>-24213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="signUpFlowWithExistingUser.signupNavigationWithExistingUser(java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:SignUpProcess.signUpFlowWithExistingUser@7bd7d6d6]">signupNavigationWithExistingUser</td> 
  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="a8adcf">  <td>22/03/06 13:51:41</td>   <td>-24213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="signUpFlowWithExistingUser.signupNavigationWithExistingUser(java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:SignUpProcess.signUpFlowWithExistingUser@7bd7d6d6]">signupNavigationWithExistingUser</td> 
  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="a68a88">  <td>22/03/06 13:51:54</td>   <td>-11503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="signUpFlowWithInvalidUser.signupNavigationWithInvalidUser(java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:SignUpProcess.signUpFlowWithInvalidUser@43f02ef2]">signupNavigationWithInvalidUser</td> 
  <td>main@106999035</td>   <td></td> </tr>
<tr bgcolor="859c86">  <td>22/03/06 13:51:03</td>   <td>-61962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="signUpFlowWithNewUser.signupNavigationWithNewUser(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:SignUpProcess.signUpFlowWithNewUser@5965d37]">signupNavigationWithNewUser</td> 
  <td>main@106999035</td>   <td></td> </tr>
</table>
